@charset "utf-8";
#CorrectBar{
	height:20%;
	background-color:whitesmoke;
	position: fixed;
 	 bottom: 0;
 	 width: 100%;
	
}
.AnswerIncorrect{
	background-color:red;
}
.AnswerCorrect{
	background-color:green;
}
#QuestionBox{
	background-color:beige;
	position:fixed;
	width:75%;
	top:25%;
	left:50;
	display:inline-block;
	height:10em;
}
#AnswerBox{
    background-color:beige;
    position: fixed;
	width:75%;	
	top:50%;
	left:50;
	display:inline-block;
	height:10em;

}