@charset "utf-8";
#MonocleHeaderBar{
	width:100%;
	height:8em;
	padding:0;
	margin:0;
	background-color:black;
}
#NextButton{
	height:2em;
	width:3em;
	background-color:green;
	}
#NextButton:hover{
	background-color:#A5ED9A;
}
