#beige-box-main{
    
    background-color:beige;
    position: relative;
    
    display:inline-block;
}
#beige-box-homeworks{
    height: 45em;
    width: 25em;
    position: relative;
    background-color: beige;
}
#course-completion-tracking-circle{
    background-color: green;
    border-radius: 50%;
    height: 5em;
}