#beige-box-main{
    background-color:beige;
    position: relative;
    
    display:inline-block;
}
td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}
#beige-box-leaderboard{
    
    background-color:beige;
    position: relative;
    
    display:inline-block;
}
#beige-box-homeworks{
    background-color:beige;
    position: relative;
    
    display:inline-block;
}
#course-completion-tracking-circle{
    background-color: green;
    border-radius: 50%;
    height:17em;
    width : 17em;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}
.selected{
    background-color: greenyellow;
    color:white;
}
